# VScode
.vscode/

# packer.nvim
plugin/

# lazy.nvim
lazy-lock.json

# Github-copilot
/pack

# Compiled Lua sources
luac.out

# luarocks build files
*.zip
*.tar.gz

# Object files
*.o
*.os
*.obj

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe
*.out
